/* Write your CSS here */
.chart-container {
  background-color: #1c1c2b;
  padding: 5px 20px;
  margin-bottom: 20px;
}
.chart-heading {
  font-family: Roboto;
  font-size: 25px;
  color: #94a3b8;
  font-weight: 500;
}
